html {
  font-size: 62.5%;
  font-family: "Satoshi", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.3rem;
  margin-bottom: 2.3rem;
}
@media (min-width: 1440px) {
  .header {
    margin: 2.4rem 8rem;
  }
}

nav {
  display: none;
}

.search-bar {
  display: none;
}

@media (min-width: 1440px) {
  nav {
    display: block;
    margin-right: auto;
  }
  nav .nav-list {
    display: flex;
    gap: 2.4rem;
    font-size: clamp(1.2rem, 1.2rem + 0.4 * (100vw - 39rem) / 85, 1.6rem);
    margin-left: 4rem;
  }
  nav .nav-list > li:not(:has(.shop-details)) {
    transition: transform 0.3s ease;
    will-change: transform;
  }
  nav .nav-list > li:not(:has(.shop-details)):hover {
    transform: scale(1.1);
  }
  nav .nav-list a {
    color: #000000;
  }
  nav .shop-details {
    position: relative;
  }
  nav .shop-details summary {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    outline: none;
  }
  nav .shop-details summary::-webkit-details-marker {
    display: none;
  }
  nav .shop-details .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 1rem;
    min-width: 15rem;
    z-index: 100;
    list-style: none;
  }
  nav .shop-details .dropdown-menu li {
    margin-bottom: 1rem;
  }
  nav .shop-details .dropdown-menu li a {
    color: #000000;
  }
  nav .shop-details[open] .arrow {
    transform: rotate(180deg);
  }
  .search-container {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: #f0f0f0;
    padding: 1.2rem 1.6rem;
    border-radius: 6.2rem;
    width: 57.7rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .search-container:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  }
  .search-container .search-icon {
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    flex-shrink: 0;
  }
  .search-container .search-bar {
    display: block;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: clamp(1.2rem, 1.2rem + 0.4 * (100vw - 39rem) / 85, 1.6rem);
    color: #000000;
  }
  .search-container .search-bar::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 991px) {
  .nav {
    display: none;
  }
}
.search-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.hero {
  background-color: #f2f0f1;
  min-height: 85.3rem;
}
.hero__title {
  color: #000000;
  font-size: clamp(3.2rem, 3.2rem + 1.6 * (100vw - 39rem) / 85, 4.8rem);
  font-weight: 700;
  max-width: 31.5rem;
  min-height: 9.3rem;
  margin-left: 1.6rem;
  padding-top: 4rem;
}
@media (min-width: 1440px) {
  .hero__title {
    margin-left: 10rem;
    margin-top: 4rem;
    max-width: 57.7rem;
    width: 100%;
    min-height: 17.3rem;
    font-size: clamp(4.8rem, 4.8rem + 1.6 * (100vw - 39rem) / 85, 6.4rem);
    z-index: 3;
  }
}
.hero__sub-title {
  color: rgba(0, 0, 0, 0.6);
  margin: 1rem 1.6rem 0 1.6rem;
  line-height: 2rem;
  font-size: clamp(1.4rem, 1.4rem + 0.4 * (100vw - 39rem) / 85, 1.8rem);
  font-weight: 400;
}
@media (min-width: 1440px) {
  .hero__sub-title {
    margin-left: 10rem;
    max-width: 47rem;
    line-height: 2.2rem;
    z-index: 3;
    margin: 0 0 0 10rem;
  }
}
.hero__btn {
  border: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 6.2rem;
  width: 35.8rem;
  height: 5.2rem;
  margin: 2.4rem 1.6rem 2.2rem 1.6rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.hero__btn:hover {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.09);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1440px) {
  .hero__btn {
    width: 21rem;
    height: 5.2rem;
    z-index: 3;
    margin: 1.5rem 0 0 10rem;
    font-size: clamp(1.2rem, 1.2rem + 0.4 * (100vw - 39rem) / 85, 1.6rem);
  }
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  flex-wrap: wrap;
}
@media (min-width: 1440px) {
  .stat {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 10rem;
    z-index: 3;
    padding-bottom: 9rem;
    padding-top: 3rem;
  }
  .stat__item {
    position: relative;
  }
  .stat__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -1.6rem;
    transform: translateY(-50%);
    width: 0.1rem;
    height: 7.4rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .stat__divider {
    display: none;
  }
}
.stat__title {
  color: #000000;
  font-size: clamp(2.4rem, 2.4rem + 0.8 * (100vw - 39rem) / 85, 3.2rem);
  font-weight: 700;
}
.stat__sub-title {
  color: rgba(0, 0, 0, 0.6);
  font-size: clamp(1.2rem, 1.2rem + 0.4 * (100vw - 39rem) / 85, 1.6rem);
  font-weight: 400;
}

.hero-banner {
  position: relative;
  overflow: hidden;
}
.hero-banner img {
  width: 39rem;
  object-fit: contain;
  min-height: 44.8rem;
  display: block;
  object-position: top;
}
@media (min-width: 991px) {
  .hero-banner img {
    display: none;
  }
}
.hero-banner::before, .hero-banner::after {
  content: "";
  position: absolute;
  width: 4.4rem;
  height: 4.4rem;
  background-image: url("/assets/img/sparkle-small.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  pointer-events: none;
}
.hero-banner::before {
  top: 13.7rem;
  left: 2.7rem;
}
.hero-banner::after {
  width: 7.6rem;
  height: 7.6rem;
  top: 4rem;
  right: 2.1rem;
}

.brands {
  background-color: #000000;
  min-height: 14.6rem;
}
@media (min-width: 1440px) {
  .brands {
    grid-column: 1/3;
    min-height: 12.2rem;
    transform: translateY(-0.5rem);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}
.brands__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.4rem;
  padding-top: 3.9rem;
  padding-bottom: 2.261rem;
  flex-wrap: wrap;
}
.brands__logos img:nth-child(n+6) {
  display: none;
}
@media (min-width: 1440px) {
  .brands__logos {
    width: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.4rem;
    animation: scroll 20s linear infinite;
    padding: 4.4rem 0 0 6rem;
  }
  .brands__logos img:nth-child(n+6) {
    display: block;
  }
  .brands__logos img:nth-child(5n+1) {
    width: 16.6rem;
  }
  .brands__logos img:nth-child(5n+2) {
    width: 9.1rem;
  }
  .brands__logos img:nth-child(5n+3) {
    width: 15.6rem;
  }
  .brands__logos img:nth-child(5n+4) {
    width: 19.4rem;
  }
  .brands__logos img:nth-child(5n+5) {
    width: 20.6rem;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.hero {
  position: relative;
}
@media (min-width: 1440px) {
  .hero {
    background-color: #f2f0f1;
    min-height: 66.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .hero .hero__title,
  .hero .hero__sub-title,
  .hero .hero__btn,
  .hero .stat {
    grid-column: 1/2;
  }
  .hero .banner {
    grid-column: 2/3;
    grid-row: 1/5;
    position: relative;
  }
}

.banner-desktop {
  display: none;
}
@media (min-width: 1440px) {
  .banner-desktop {
    display: block;
    position: relative;
  }
  .banner-desktop img {
    margin-left: -50rem;
  }
  .banner-desktop::before, .banner-desktop::after {
    content: "";
    position: absolute;
    background-image: url("../assets/img/sparkle-small.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    pointer-events: none;
  }
  .banner-desktop::before {
    width: 5.6rem;
    height: 5.6rem;
    top: 50%;
    left: 20rem;
    transform: translateY(-50%);
  }
  .banner-desktop::after {
    width: 10.4rem;
    height: 10.4rem;
    top: 8rem;
    right: 6rem;
  }
}

@media (min-width: 1440px) {
  .arrivals {
    padding: 0 10rem;
  }
}
.arrivals__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 3.2rem;
  font-size: clamp(3.2rem, 3.2rem + 1.6 * (100vw - 39rem) / 85, 4.8rem);
  font-weight: 700;
}
@media (min-width: 1440px) {
  .arrivals__title {
    margin-top: 7.2rem;
    margin-bottom: 3.2rem;
  }
}

.clothes-list {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  display: flex;
  gap: 1.6rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
.clothes-list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1440px) {
  .clothes-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
.clothes-list__clothes {
  border-radius: 2rem;
  width: 29.5rem;
  height: 29.8rem;
  cursor: pointer;
}
.clothes-list__caption {
  font-size: clamp(1.2rem, 1.2rem + 0.4 * (100vw - 39rem) / 85, 1.6rem);
  font-weight: 700;
  margin-top: 1rem;
}
@media (min-width: 1440px) {
  .clothes-list__caption {
    margin-top: 1.6rem;
  }
}
.clothes-list__review {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.44rem;
  margin-top: 0.4rem;
}
.clothes-list__review figcaption {
  font-size: clamp(1.2rem, 1.2rem + 0.4 * (100vw - 39rem) / 85, 1.6rem);
  font-weight: 400;
  margin-left: 1.1rem;
}
.clothes-list__review figcaption span {
  color: rgba(0, 0, 0, 0.6);
}

.clothes {
  cursor: pointer;
}
.clothes img {
  width: 29.5rem;
  height: 29.8rem;
  border-radius: 2rem;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.3s ease;
  will-change: transform;
}
.clothes img:hover {
  transform: scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.clothes img:active {
  transform: translateY(-2px) scale(0.99);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.price-category {
  display: flex;
}

.price {
  margin-top: 0.425rem;
  font-size: 2rem;
  font-weight: 700;
}
@media (min-width: 1440px) {
  .price {
    font-size: 2.4rem;
  }
}
.price__del {
  color: rgba(0, 0, 0, 0.4);
}
.price__sale {
  font-size: clamp(1.2rem, 1.2rem + 0.4 * (100vw - 39rem) / 85, 1.6rem);
  color: #ff3333;
  background-color: rgba(255, 51, 51, 0.1019607843);
  border-radius: 6.2rem;
  width: 4.2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 0.9rem;
}
@media (min-width: 1440px) {
  .price__sale {
    width: 5.8rem;
    height: 2.8rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
}

.view-btn {
  border: 0.1rem solid rgba(0, 0, 0, 0.1019607843);
  background-color: #ffffff;
  border-radius: 6.2rem;
  width: 35.8rem;
  height: 4.6rem;
  margin-top: 2.4rem;
  margin-left: 1.6rem;
  display: block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.view-btn:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.09);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
@media (min-width: 991px) {
  .view-btn {
    margin-left: auto;
    margin-right: auto;
    width: 21.8rem;
    height: 5.2rem;
    margin-top: 3.6rem;
    font-size: clamp(1.6rem, 1.6rem + 0.4 * (100vw - 39rem) / 85, 2rem);
  }
}

.line {
  width: 35.8rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.1019607843);
  margin-top: 5.35rem;
  margin-left: 1.6rem;
  display: inline-block;
}
@media (min-width: 991px) {
  .line {
    min-height: 0.1rem;
    width: 124rem;
  }
}

@media (min-width: 1440px) {
  .sellings {
    padding: 0 10rem;
  }
}
.sellings__title {
  margin-bottom: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1440px) {
  .sellings__title {
    font-size: 6rem;
    margin-bottom: 5.5rem;
  }
}
.sellings {
  margin-top: 5rem;
  font-size: clamp(2rem, 2rem + 0.4 * (100vw - 39rem) / 85, 2.4rem);
  font-weight: 700;
}

.sales {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ff3333;
  background-color: rgba(255, 51, 51, 0.1019607843);
  border-radius: 6.2rem;
  width: 4.2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 0.9rem;
}
@media (min-width: 1440px) {
  .sales {
    width: 5.8rem;
    height: 2.8rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
}

.dress-style {
  margin: 6.35rem 1.6rem 0 1.6rem;
  border-radius: 2rem;
  background-color: #f0f0f0;
}
@media (min-width: 1440px) {
  .dress-style {
    margin: 7rem 10rem 0 10rem;
    padding: 7rem 6.4rem;
    border-radius: 4rem;
  }
}

.title {
  padding-top: 4rem;
  margin: 0 5.6rem 2.8rem 5.6rem;
  font-size: clamp(3.2rem, 3.2rem + 1.6 * (100vw - 39rem) / 85, 4.8rem);
  font-weight: 700;
  text-align: center;
}
@media (min-width: 1440px) {
  .title {
    padding-top: 0;
    font-size: 4.8rem;
    margin-bottom: 6.4rem;
  }
}

.banners-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-bottom: 2.8rem;
}
@media (min-width: 1440px) {
  .banners-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 29rem;
    gap: 2rem;
  }
}

.clothes-banner {
  position: relative;
  overflow: hidden;
  width: 31rem;
  height: 19rem;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.clothes-banner:hover {
  transform: scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.clothes-banner:active {
  transform: translateY(-2px) scale(0.99);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1440px) {
  .clothes-banner {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
.clothes-banner img {
  display: block;
  width: 31rem;
  height: 19rem;
  border-radius: 2rem;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .clothes-banner img {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
}
.clothes-banner::before {
  position: absolute;
  font-size: clamp(2.4rem, 2.4rem + 0.8 * (100vw - 39rem) / 85, 3.2rem);
  font-weight: 700;
  left: 4.8rem;
  top: 2.4rem;
  z-index: 10;
}
@media (min-width: 1440px) {
  .clothes-banner::before {
    left: 3.6rem;
    top: 2.5rem;
    font-size: 3.6rem;
  }
}
@media (min-width: 1440px) {
  .clothes-banner.casual {
    grid-column: 1/2;
  }
  .clothes-banner.formal {
    grid-column: 2/4;
  }
  .clothes-banner.vintage {
    grid-column: 1/3;
  }
  .clothes-banner.sport {
    grid-column: 3/4;
  }
}
.clothes-banner.casual::before {
  content: "Casual";
}
.clothes-banner.formal::before {
  content: "Formal";
}
.clothes-banner.vintage::before {
  content: "Party";
}
.clothes-banner.sport::before {
  content: "Gym";
}

.sport img {
  background-color: #ffffff;
}

.customers {
  margin: 0 1.6rem 5rem 1.6rem;
  position: relative;
}
@media (min-width: 991px) {
  .customers {
    padding: 0 9rem;
    margin-top: 8rem;
  }
}
.customers__title {
  margin: 5rem 0 2.4rem 0;
  font-size: clamp(3.2rem, 3.2rem + 1.6 * (100vw - 39rem) / 85, 4.8rem);
  font-weight: 700;
  text-align: left;
  position: relative;
}
@media (min-width: 991px) {
  .customers__title {
    margin-bottom: 4rem;
  }
}
.customers__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customers__arrows {
  display: flex;
  gap: 2rem;
  margin-top: 6rem;
  padding-right: 0.5rem;
  cursor: pointer;
}
@media (min-width: 991px) {
  .customers__arrows {
    padding-bottom: 4rem;
  }
}
.customers .arrow-left {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.customers .arrow-left:hover {
  transform: translateX(-5px) scale(1.05);
}
.customers .arrow-right {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.customers .arrow-right:hover {
  transform: translateX(5px) scale(1.1);
}

.card {
  cursor: pointer;
  width: 35.8rem;
  flex-shrink: 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  will-change: transform;
  border-radius: 2rem;
}
.card:hover {
  transform: translateY(-5px);
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.cards-container {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
.cards-container::-webkit-scrollbar {
  display: none;
}
.cards-container {
  display: flex;
  gap: 2rem;
}

.desc {
  min-height: 21rem;
  padding: 2.4rem;
}
@media (min-width: 991px) {
  .desc {
    min-height: 24rem;
  }
}
.desc__name {
  display: flex;
  gap: 0.578rem;
  margin-top: 1.2rem;
  font-size: clamp(1.6rem, 1.6rem + 0.4 * (100vw - 39rem) / 85, 2rem);
  font-weight: 700;
}
.desc__review {
  color: rgba(0, 0, 0, 0.6);
  font-size: clamp(1.4rem, 1.4rem + 0.4 * (100vw - 39rem) / 85, 1.8rem);
  font-weight: 400;
  margin-top: 1.15rem;
  line-height: 2rem;
}
@media (min-width: 991px) {
  .desc__review {
    line-height: 2.2rem;
  }
}

.subscribe {
  background-color: #000000;
  margin: 0 1.6rem;
  position: relative;
  z-index: 2;
  border-radius: 2rem;
  background: linear-gradient(to bottom, #000000 50%, #f0f0f0 50%);
}
@media (min-width: 991px) {
  .subscribe {
    margin: 0 10rem;
    height: 18rem;
  }
}
.subscribe__title {
  color: #ffffff;
  font-size: clamp(3.2rem, 3.2rem + 1.6 * (100vw - 39rem) / 85, 4.8rem);
  padding: 3.2rem 2.4rem;
  line-height: 3.5rem;
  text-align: left;
}
@media (min-width: 991px) {
  .subscribe__title {
    padding: 4.3rem 0 4.3rem 6.4rem;
    line-height: 5rem;
    font-size: 4rem;
    max-width: 60rem;
  }
}
.subscribe__btn {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.8rem;
  margin: 0 2.4rem;
}
@media (min-width: 991px) {
  .subscribe__btn {
    margin: 4.3rem 6.4rem 4.3rem 0;
  }
}
.subscribe__btn button {
  border: none;
  margin-bottom: 1.2rem;
  background-color: #ffffff;
  max-width: 31.1rem;
  height: 4.2rem;
  border-radius: 6.2rem;
  font-size: clamp(1.4rem, 1.4rem + 0.4 * (100vw - 39rem) / 85, 1.8rem);
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.subscribe__btn button:hover {
  transform: scale(1.09);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
@media (min-width: 991px) {
  .subscribe__btn button {
    width: 34.9rem;
    height: 4.8rem;
    font-size: 1.6rem;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.356rem;
  margin-left: 1.6rem;
}
.btn-wrapper__desc {
  outline: none;
  width: 20rem;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  font-size: clamp(1.4rem, 1.4rem + 0.4 * (100vw - 39rem) / 85, 1.8rem);
  line-height: 1rem;
  font-weight: 400;
}
@media (min-width: 991px) {
  .btn-wrapper__desc {
    font-size: 1.6rem;
  }
}

.wrapper {
  background-color: #000;
  border-radius: 2rem;
}

@media (min-width: 991px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 21.2rem;
    padding: 0 6.4rem;
  }
}
.submit-btn {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.submit-btn:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.09);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #f0f0f0;
  position: relative;
  z-index: 1;
  margin-top: -15rem;
  padding-top: 18rem;
  padding-left: 1.6rem;
}
@media (min-width: 991px) {
  .footer {
    margin-top: -6.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media (min-width: 991px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__brand {
  flex: 1;
}
.footer__logo {
  height: 2.2rem;
  margin-bottom: 1.5rem;
  filter: brightness(1);
  filter: invert(0);
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__logo:hover {
  filter: invert(0);
  filter: brightness(1);
  background-color: #ffffff;
  transform: translateY(-3px);
}
.footer__caption {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 991px) {
  .footer__caption {
    max-width: 24.8rem;
  }
}
.footer__socials {
  display: flex;
  gap: 1.2rem;
}
.footer__socials img {
  margin-top: 2rem;
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.7rem;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  object-fit: contain;
  filter: brightness(1);
  filter: invert(0);
  transition: all 0.3s ease;
}
.footer__socials img:hover {
  filter: invert(0);
  filter: brightness(1);
  border-color: #000;
  transform: translateY(-3px);
}
.footer__socials .facebook {
  z-index: 3;
  background-color: #000000;
}
.footer__socials .facebook:hover {
  background-color: black;
  filter: brightness(1);
}
.footer__links {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}
@media (min-width: 991px) {
  .footer__links {
    grid-template-columns: repeat(4, 1fr);
    gap: 10rem;
  }
}
.footer__column h4 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.footer .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.footer .footer-nav a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  transition: 0.2s;
}
.footer .footer-nav a:hover {
  color: #000;
}
.footer__divider {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 2.4rem 0;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding-bottom: 7.7rem;
}
@media (min-width: 991px) {
  .footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__copyright {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.footer__payments {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}
.footer__payments img {
  width: 4rem;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__payments img:hover {
  filter: invert(0);
  filter: brightness(1);
  transform: translateY(-3px);
}
@media (min-width: 991px) {
  .footer__payments img {
    width: 4.6rem;
    height: 3rem;
  }
}

.sign-form {
  background-color: #000000;
  min-height: 3.4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 991px) {
  .sign-form {
    min-height: 3.8rem;
  }
}
.sign-form__text {
  color: #ffffff;
  font-weight: 400;
  font-size: clamp(1.2rem, 1.2rem + 0.4 * (100vw - 39rem) / 85, 1.6rem);
  opacity: 0.8;
  position: relative;
}
@media (min-width: 991px) {
  .sign-form__text {
    font-size: clamp(1.6rem, 1.6rem + 0.4 * (100vw - 39rem) / 85, 2rem);
  }
}

.form-img {
  display: none;
  cursor: pointer;
}

@media (min-width: 991px) {
  .form-img {
    display: flex;
    position: absolute;
    right: 10rem;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(100%);
    opacity: 0.8;
  }
}
.header__burger-menu {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.862rem;
  margin-left: 1.6rem;
  cursor: pointer;
}
@media (min-width: 1440px) {
  .header__burger-menu .burger-menu {
    display: none;
  }
  .header__burger-menu img:nth-child(2) {
    width: 16rem;
    height: 2.2rem;
    z-index: 0;
  }
}
.header__right-panel {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-right: 2rem;
  cursor: pointer;
}
@media (min-width: 991px) {
  .header__right-panel {
    gap: 4rem;
  }
}
.header__right-wrapper {
  display: flex;
  align-items: center;
  gap: 1.387rem;
}
@media (min-width: 991px) {
  .header__right-wrapper img:nth-child(1) {
    width: 2.213rem;
    height: 2.025rem;
    transition: opacity 0.3s ease;
  }
  .header__right-wrapper img:nth-child(1):hover {
    transform: scale(1.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  }
  .header__right-wrapper img:nth-child(2) {
    width: 2.25rem;
    height: 2.25rem;
    transition: opacity 0.3s ease;
  }
  .header__right-wrapper img:nth-child(2):hover {
    transform: scale(1.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  }
}

.logo-icon {
  transition: opacity 0.3s ease;
}
.logo-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.nav-toggle {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999999;
  transition: left 0.4s ease-in-out;
  padding: 8rem 2rem 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#nav-toggle:checked ~ .nav {
  left: 0;
}

#nav-toggle:checked ~ .nav-burger .close-icon {
  display: block;
  position: fixed;
  top: 2.2rem;
  left: 2.2rem;
  z-index: 1000000;
  width: 2.2rem;
}

#nav-toggle:checked ~ .signup-btn {
  display: block;
  z-index: 99;
}

#nav-toggle:checked ~ .nav-burger .burger-menu {
  visibility: hidden;
}

.nav__burger-menu li {
  margin-bottom: 3rem;
}

.nav-link,
.details summary {
  font-size: 1.6rem;
  font-weight: 500;
  color: #8d8d8d;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.nav-link:hover,
.details summary:hover {
  color: #5a5a5a;
  padding-left: 0.5rem;
}
.nav-link:active,
.details summary:active {
  color: rgb(166.5, 166.5, 166.5);
}
.nav-link:focus,
.details summary:focus {
  outline: none;
  color: rgb(64.5, 64.5, 64.5);
}

.dropdown-menu {
  list-style: none;
  padding-left: 2rem;
  margin-top: 1.5rem;
}
.dropdown-menu li a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s ease;
}
.dropdown-menu li a:hover {
  color: #000000;
  padding-left: 0.5rem;
}
.dropdown-menu li a:active {
  color: rgba(0, 0, 0, 0.8);
  transform: scale(0.98);
}

.arrow {
  width: 1.4rem;
  transition: 0.3s;
}

.shop-details[open] .arrow {
  transform: rotate(180deg);
}

.signup-btn {
  display: block;
  width: 16.5rem;
  height: 5.2rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 1.6rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  margin-top: 4rem;
  transition: background-color 0.3s ease;
}
.signup-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.close-icon {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
