@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "sass:map";

.dress-style {
    margin: 6.35rem 1.6rem 0 1.6rem;
    border-radius: 2rem;
    background-color: v.$bg-clothes;
}

.title {
    padding-top: 4rem;
    margin: 0 5.6rem 2.8rem 5.6rem;
    font-size: map.get(v.$font-sizes, "title");
    font-weight: map.get(v.$font-weights, "bold");
    text-align: center;
}

.clothes-banner {
    position: relative;
    overflow: hidden;

    img {
        display: block;
        width: 31rem;
        height: 19rem;
        border-radius: 2rem;
        margin: 0 auto;
        margin-bottom: 2.8rem;
    }

    &::before {
        position: absolute;
        font-size: map.get(v.$font-sizes, "heading");
        font-weight: map.get(v.$font-weights, "bold");
        left: 4.8rem;
        top: 2.4rem;
        z-index: 10;
    }

    @each $key, $value in v.$banners {
        &.#{$key}::before {
            content: "#{$value}";
        }
    }
}

.sport img {
    background-color: v.$bg-secondary;
}
