@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "sass:map";

.sellings {
    @media (min-width: 1440px) {
        padding: 0 10rem;
    }
    &__title {
        @include m.flex($justify: center, $align: center);

        @media (min-width: 1440px) {
            font-size: 6rem;
            margin-bottom: 5.5rem;
        }
    }
    margin-top: 5rem;
    font-size: map.get(v.$font-sizes, "body");
    font-weight: map.get(v.$font-weights, "bold");
}
