@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "sass:map";
@use "sass:color";
@use "sass:list";

.sellings {
    @media (min-width: 1440px) {
        padding: 0 10rem;
    }
    &__title {
        font-family: "FONTSPRING DEMO - Integral CF Bold";
        margin-bottom: 3.2rem;
        @include m.flex($justify: center, $align: center);

        @media (min-width: 1440px) {
            font-size: 6rem;
            margin-bottom: 5.5rem;
        }
    }
    margin-top: 5rem;
    font-size: map.get(v.$font-sizes, "body");
    font-weight: map.get(v.$font-weights, "bold");
}

.sales {
    font-size: 1.2rem;
    font-weight: map.get(v.$font-weights, "regular");
    color: v.$sales-primary;
    background-color: v.$bg-sales;
    border-radius: 6.2rem;
    width: 4.2rem;
    height: 2rem;
    @include m.flex($justify: center, $align: center);
    margin-left: 0.5rem;
    margin-top: 0.9rem;

    @media (min-width: 1440px) {
        width: 5.8rem;
        height: 2.8rem;
        margin-top: 0.9rem;
        margin-left: 1rem;
        font-size: 1.4rem;
    }
}
