@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "sass:map";

.sign-form {
    background-color: v.$bg-primary;
    min-height: 3.4rem;
    position: relative;
    @include m.flex($justify: center, $align: center);

    @media (min-width: 991px) {
        min-height: 3.8rem;
    }

    &__text {
        color: v.$text-primary;
        font-weight: map.get(v.$font-weights, regular);
        font-size: map.get(v.$font-sizes, body-xs);
        opacity: 0.8;
        position: relative;

        @media (min-width: 991px) {
            font-size: map.get(v.$font-sizes, body-sm);
        }
    }
}

.form-img {
    display: none;
    cursor: pointer;
}

@media (min-width: 991px) {
    .form-img {
        @include m.flex;
        position: absolute;
        right: 10rem;
        top: 50%;
        transform: translateY(-50%);
        filter: invert(100%);
        opacity: 0.8;
    }
}
