@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "sass:map";
@use "sass:color";

html {
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
